.imgThumb{
    height: 100px;
}

.currentSelection{
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    width: 400px;
}

.tabSelect{
    padding: 10px 5px;
    background-color: transparent;
    border: 1px solid black;
}